*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html {
    font-size: 62.5%;
}
header{
    padding:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#2a607c;
    color: #fff;
    width: 100%;
}
header h1{
    display: inline-block;
    font-size: 48px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 25px;
    padding: 20px;
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    float:right;
}

header nav ul li{
    display:inline-block;
    margin-left:25px;
}
.navbar {
    display: flex;
    flex-wrap:wrap;
    background-color: #2a607c;
    width: 100%;
    width:flex;
    min-height:flex;
}

.backimage {
    height:200px;
    width:100%;
    background-image: url("./Images/mockup-photos-5nUNdLueQio-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom:10px;
}
.container--main{
    display: flex;
    flex-wrap: wrap;
}
.containerA{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    background-color:#fff;
    height:flex;
    justify-content: space-evenly;
    margin-top:10px;
    margin-bottom:10px;
}

.ca{
    width: 170px;
    height: 150px;
    background-image: url(./Images/1129-0-4.jpg);
}
.cb{
    background-color: #fff;
    width: 500px;
    min-height: flex;
    margin-right: 5px;
    display:inline;
    text-align: center;
    padding:10px;    
}
/* .container-padre{

} */
.container-fe{
    width:100%;
    height: flex;
    background-color:#2a607c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    color:white;
}
.container-be{
    width:100%;
    height: flex;
    background-color:#2a607c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    color:white;
}
.container-fs{
    width:100%;
    height: flex;
    background-color:#2a607c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    color:white;
}
.fe1 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe1:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe1{
    background-image: url(./Images/Personal-Card2.PNG);
    background-size:140px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 75px;
}
.fe2 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe2:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe2{
    background-image: url(./Images/Google-Clone.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fe3 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe3:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe3{
    background-image: url(./Images/React-Landing.PNG);
    background-size:200px 100px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fe4 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe4:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe4{
    background-image: url(./Images/React-Contador.PNG);
    background-size:200px 250px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fe5 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe5:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe5{
    background-image: url(./Images/React-Calculadora.PNG);
    background-size:200px 250px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fe6 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe6:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe6{
    background-image: url(./Images/Advanced-CSS.PNG);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fe65 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe65:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe65{
    background-image: url(./Images/jQuery.PNG);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fe7 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fe7:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fe7{
    background-image: url(./Images/Coding-Bootcamp.PNG);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.be1 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.be1:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.be1{
    background-image: url(./Images/banner-Web-Development.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.be2 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.be2:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.be2{
    background-image: url(./Images/banner-Web-Development.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.be3 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.be3:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.be3{
    background-image: url(./Images/banner-Web-Development.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.be4 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.be4:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.be4{
    background-image: url(./Images/banner-Web-Development.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.be5 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.be5:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.be5{
    background-image: url(./Images/banner-Web-Development.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.be6 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.be6:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.be6{
    background-image: url(./Images/banner-Web-Development.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fs1 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fs1:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fs1{
    background-image: url(./Images/cover_Mob_dev.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fs2 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fs2:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fs2{
    background-image: url(./Images/cover_Mob_dev.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fs3 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fs3:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fs3{
    background-image: url(./Images/cover_Mob_dev.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fs4 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fs4:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fs4{
    background-image: url(./Images/cover_Mob_dev.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fs5 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fs5:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fs5{
    background-image: url(./Images/cover_Mob_dev.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.fs6 {
    background-color: #fff;
    height: 15rem;
    width: 30rem;
    padding: 2rem;
    border: 1px solid  #fff;
    border-radius: 2rem;
    margin: 2rem;
    opacity: 0.6;
    text-align: center;
    line-height: 0.1rem;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px #aaa;
    color:blue;
}

.fs6:hover {
    opacity: 1.0;
    transform: rotate(-1deg) scale(1.1);
}
.fs6{
    background-image: url(./Images/cover_Mob_dev.png);
    background-size:200px 200px;;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 50px;
}
.footer{
    background-color: #fff;
    width: flex;
    min-height: flex;
    margin-right: 5px;
}


